<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="use_depth_camera" default="false"/>

    <xacro:include filename="robot_core.xacro" />
    <!-- choose between ros2_control and gazebo_control default ros2_control-->
    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless>
    <!-- choose between depth and standard camera default standard -->
    <xacro:if value="$(arg use_depth_camera)">
        <xacro:include filename="depth_camera.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_depth_camera)">
        <xacro:include filename="camera.xacro" />
    </xacro:unless>
    <!-- LIDAR -->
    <xacro:include filename="lidar.xacro" />
    
</robot>